
/*
body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/todo.jpg'); /* Update the path accordingly 
  background-size: cover;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
*/

.bg-image {
  background-image: url('./assets/todo1.jpg'); /* Apni image ka path yahan replace karen */
  background-size: cover; /* Image ko puri screen par cover karne ke liye */
  background-position: center; /* Image ko center mein align karne ke liye */
}